//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .sponsors-index-index {
        .page-title-wrapper {
            background-image: url('@{baseDir}images/tickets-banner-magetitans-austin18.jpg');
            /*display: none;*/
            .page-title {
                padding-top: 290px;
                padding-bottom: 100px;
                margin: -90px auto 0;
                max-width: 1280px;
                color: #fff;
                font-weight: 900;
                font-size: 56px;
                padding-left: 20px;
            }
        }
        .sponsors-wrapper {
            padding: 30px 0 0;
        }

        .sponsors-items {
            margin: 0 0 40px;

            * {
                box-sizing: border-box;
            }

            h2 {
                //font-family: @font-family__raleway;
                font-size: 22px;
                font-weight: @font-weight__bold;
                color: @color-gray20;
                margin: 0 0 20px;
            }

            ul, li {
                list-style: none;
                list-style-type: none;
                margin: 0;
                padding: 0;
            }

            ul {
                &:extend(.abs-add-clearfix all);
                border-bottom: 1px solid rgba(51, 51, 51, 0.1);
                text-align: left;

                li {
                    display: inline-block;
                    vertical-align: middle;
                    margin-bottom: 15px;
                    width: 100%;
                    text-align: center;
                }
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .sponsors-index-index {
        .sponsors-items {
            ul {
                &.column_2 {
                    li {
                        width: 49%;
                    }
                }

                &.column_3 {
                    li {
                        width: 32.8%;
                    }
                }

                &.column_4 {
                    li {
                        width: 23.8%;
                    }
                }

                &.column_5 {
                    li {
                        width: 19.5%;
                    }
                }
            }
        }
    }
}

// mobile
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .sponsors-index-index {
        .page-title-wrapper {
            .page-title {
                padding-top: 200px;
            }
        }
    }
}

